
.cartItems-Container{
    width: 100%;
    height: 100%;
    max-width: 1300px;
    margin: auto;
    padding: 40px;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}
.Cartitems-list{
 margin-right: 25px;
 width: 60%;
 display: flex;
 flex-direction: column;
 align-items: center;
}
   .singleproduct-box{
    width: 100%;
    padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

   }
   .singleproduct-box img{
        width: 160px;
        height: 100px;
        border-radius: 5px;
        margin-right: 10px ;
   }
   .cart-item-discreption{
    max-width: 400px;
    
   }
   .cart-item-discreption p{
    font-size: 12px ;
   }
      .productName-discription{
        text-align: left;
      }
      .productCount-price-crudActions{
        text-align: right;
        font-size: 16px;
      }


.cartPrice-n-checkout{
width: 40%;
/* height: 700px; */
padding: 15px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
}  
    .yourCart-text{
     text-align: left;
    }
   .yourCart-text p{
    color:  rgb(189, 162, 110);
    margin: 0;
    font-size: 15px;
   }
   .yourCart-text h3{
    font-size: 30px;
    font-family: 600;
    letter-spacing:2px;
    margin: 0px 0 15px;
    color:  rgb(189, 162, 110);
   }
   .totalPrice-n-btn{
     display: flex;
     flex-direction: column;
     align-items: flex-start;
   }
   .totalPrice-n-btn p{
    text-align: left;
    font-size: 16px;
    
   }
   .totalPrice-n-btn p span{
        font-weight: 700;
   }

   .totalPrice-n-btn button{
    width: 300px;
    background-color: rgb(189, 162, 110);
    color: rgb(255, 255, 255);
    padding: 8px 25px;
    font-size: 16px;
   }

   @media screen and (max-width: 800px) {
     .cartItems-Container{
          flex-direction: column;
     }
     .Cartitems-list{
          width: 100%;
          margin: auto;
     }
   }
   @media screen and (max-width: 500px) {
.cartItems-Container{
     padding: 20px;
}
   .singleproduct-box{
     flex-direction:column ;
   }
   .productCount-price-crudActions{
     width: 100%;
     display: flex;
     justify-content: space-between;
   }
   }
   @media screen and (max-width: 380px) {
     .singleproduct-box-img-discrip{
          flex-direction:column
     }
   }