@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Protest+Revolution&display=swap');
div{
  font-family: "Blinker", sans-serif;
}
*{
  box-sizing: border-box;
  font-family: "Blinker", sans-serif !important;
}
html{
  scroll-behavior: smooth;
  font-size: 62% !important;
}

.App {
  text-align: center;
}
a{text-decoration: none !important;
color: rgb(29, 29, 29) ;}

/* //mobile bottume nav below text */
.css-58b16v{
  opacity: 1 !important;
  font-size: 13px !important;
}

@media screen and (max-width: 450px) {
.css-58b16v{
  font-size: 11px !important;
}
.css-118p9r0-MuiButtonBase-root-MuiBottomNavigationAction-root{
  padding:0px 6px !important;
  padding-top: 0 !important;
}
}