

@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Protest+Revolution&display=swap');
.exclusive-section{
    padding: 40px 16px 10px;
    position: relative;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid #dcd3d3c4;
}
.exclusive-container{
    max-width: 1440px !important;
    padding: 0 10px !important;
    /* border: 1px solid black; */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.exclusive-title{
display: flex;
align-items: center;
justify-content: space-between;
/* margin-bottom: 20px; */
}
.exclusive-title h1{
    font-size: 24px;
    text-align: left;
}
.exclusive-title a{
    padding: 4px 8px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(189, 162, 110);
    border-left:1px solid rgb(189, 162, 110) ;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.exclusive-swiper{
    height: 350px !important;
}
.exclusive-carousal{
    /* max-width: 1200px; */
    margin-left: -30px;

}
.exclusive-slide-card{
    width: 227px;
    height: 272px;
    display: flex;
    flex-direction: column;
position: relative;
border: none;
box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.slide-cardInner-img{
    width: 227px;
    height: 227px;

}
.exclusive-slide-img{
    position: absolute;
top: 0;
height: 227px !important;

    /* width: 80% ; */
   
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  
}

.itemDiscription p{
    padding: 10px 16px;
    font-family: Blinker, sans-serif;
    /* position: absolute;
    bottom: 0; */
   
    font-size: 16px;
}


@media screen and (max-width: 1600px) {

    .exclusive-container{
        max-width: 1200px !important;
    }
    .exclusive-swiper{
        height: 310px !important;
    }
    .exclusive-slide-card{
        width: 182px;
        height: 238px;
    }
    .slide-cardInner-img{
        width: 182px;
        height: 182px;
    }
    .exclusive-slide-img{
        height: 182px !important;
    }

  }
@media screen and (max-width: 450px) {
.exclusive-section{
    padding: 40px 0px 10px 15px;
}
.exclusive-container{
    padding: 0 0 0 10px !important;
}
.exclusive-title h1{
    font-size: 21px;
}
    .exclusive-swiper{
        height: 200px !important;
    }
    .exclusive-slide-card{
        width: 96px;
        height: 146px;
    }
    .slide-cardInner-img{
        width: 96px;
        height: 96px;
    }
    .exclusive-slide-img{
        height: 96px !important;
    }
    .itemDiscription{
        width: 96px !important;
height: 50px;

    }
    .itemDiscription p{
        width: 96px !important;
font-size: 14px !important;
padding: 6px 6px 10px !important;
}

}
